<!DOCTYPE html >
<% layout('boilerplate') -%>

<html>
<head>
    <title>detail page</title>
    <link href="/stylesheets/detail.css" rel="stylesheet" >
    <script src="/javascripts/detail_action.js"></script>
    <script src="/js/scrollpagination.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
</head>
<body>

<h1><%=post.title %></h1>
<input id="postId" value='<%=post.postId %>' type="hidden" >

<div class="pre_post_info">
    <span class="post_author">作者：<%=post.author.nickname%></span>
    <img class="post_author_avatar avatar_small shadow" src=<%=getAvatarURL(post.author.emailMd5, 30)%>>
    <span class="post_category">分类：<%=post.category.categoryName%></span>
    <label type="button" class="post_view_count label label-primary">浏览数：<%=post.viewCount%></label>
</div>

<div class="well post_content">
<p>
<%-post.content %>
</p>
<span class="post_time">发布于 <%=dateFormat(post.createTime) %></span>
</div>


<ul class="comment_list">
    <li>
        <% if(user) { %>
            <img class="comment_avatar avatar_mid shadow" src=<%=getAvatarURL(user.emailMd5, 80)%>>
        <% } else { %>
            <img class="comment_avatar avatar_mid shadow" src=<%=getAvatarURL('', 80)%>>
        <% } %>
        <div class="comment_text">
            <textarea id="comment_input" placeholder="想说点什么呢？" class="comment_input" maxlength="500"></textarea>
            <button onclick="submit_comment(<%=post.postId%>);" class="btn btn-info" type="button">发表评论</button>
        </div>
    </li>
</ul>

<span id="comment_count_board">
    <% if(comments == undefined || comments.length == 0 ) {%>
        没人评论，快来抢沙发！
    <% } else { %>
        共有 <%=post.commentsCount%> 条评论
    <% } %>
</span>

<ul id="comment_list" class="comment_list">
    <%for(var i = 0; i<comments.length;i++){ %>
    <li>
        <img class="comment_avatar avatar_mid shadow" src=<%=getAvatarURL(comments[i].user.emailMd5, 80)%>>
        <div class="comment_text">
            <label class="comment_nickname"><%=comments[i].user.nickname %></label>
            <p class="comment_comment_area">
                <%=comments[i].content %>
            </p>
            <time class="comment_comment_time"><%=dateFormat(comments[i].commentTime) %></time>
        </div>
    </li>
    <% } %>
</ul>

<!--
<div class="loading" id="loading">Wait a moment... it's loading!</div>
<div class="loading" id="nomoreresults">Sorry, no more results for your pagination demo.</div>
-->

</body>
</html>