<% layout('boilerplate') -%>

<link href="/stylesheets/detail.css" rel="stylesheet" >

<h1><%=post.title %></h1>
<span>作者：<%=post.author.nickname%></span> <img src=<%="http://www.gravatar.com/avatar/"+post.author.emailMd5 + "?s=25"%>>
<h5><label type="button" class="label label-primary">浏览数：<%=post.viewCount%></label>  </h5>

<ul class="post_list">
<li>
<div class="well">
<p>
<%-post.content %>
</p>
<time><%=dateFormat(post.createTime) %></time>
</div>
</li>
</ul>

<div class="input-group">
    <input id="comment_input" type="text" class="form-control">
      <span class="input-group-btn">
        <button onclick="submit_comment(<%=post.postId%>);" class="btn btn-default" type="button">发表评论</button>
      </span>
</div>

<% if(comments == undefined || comments.length == 0 ) {%>
    没人评论，快来抢沙发！
<% } else { %>
    <ul class="comment_list">
        <span>共有 <%=post.commentsCount%> 条评论</span>
        <%for(var i = 0; i<comments.length;i++){ %>
        <li>
            <img class="comment_avatar" src=<%="http://www.gravatar.com/avatar/"+comments[i].user.emailMd5 + "?s=80"%>>
            <div class="comment_text">
                <label class="comment_nickname"><%=comments[i].user.nickname %></label>
                <p class="comment_comment_area">
                    <%=comments[i].content %>
                </p>
                <time class="comment_comment_time"><%=dateFormat(comments[i].commentTime) %></time>
            </div>
        </li>
        <% } %>
    </ul>
<% } %>

<nav>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <%for(var i = 0; i<pageCount;i++){%>
            <li <%if(pageNow==i+1){%>class="active"<%}%>><a href="/posts/<%=post.postId%>?pageNow=<%=i+1%>"><%=i+1%></a></li>
        <% } %>
        <li><a href="#">&raquo;</a></li>
    </ul>
</nav>

<script src="/javascripts/detail_action.js"></script>



