<!DOCTYPE html >
<% layout('boilerplate') -%>
<html>
	<head>		
     		  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<h1>NEWBEE BLOG</h1>
<div class="row">
<div class="col-xs-8">
<ul class="post_list">
<%for(var i = 0; i<posts.length;i++){ %>
<li>
<section class="well">
    <a href="/posts/<%=posts[i].postId%>">
        <span class="post_title"><%=posts[i].title %></span>
    </a>
    <%-posts[i].content %>
    <div>
        <span class="post_time">发布于 <%=dateFormat(posts[i].createTime) %></span>
        <span class="post_view_count">浏览： <%=posts[i].viewCount %></span>
    </div>
</section>
</li>
<%
}
%>
</ul>
</div>
<div class="col-xs-4">
</div>
</div>
	</body>
</html>
