<!DOCTYPE html >
<% layout('boilerplate') %>
<html>
	<head>		
        <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/scrollpagination.js"></script>
    </head>
	<body>
		<h1>NEWBEE BLOG</h1>
<div class="row">
<div class="col-xs-8">
<ul class="post_list" id="scroll_block">
<%for(var i = 0; i<posts.length;i++){ %>
<li>
<section class="well">
    <a href="/posts/<%=posts[i].postId%>">
        <span class="post_title"><%=posts[i].title %></span>
    </a>
    <div class="post_summary"><%=posts[i].content %></div>
    <div>
        <span class="post_time">发布于 <%=dateFormat(posts[i].createTime) %></span>
        <span class="post_view_count_main">浏览：<%=posts[i].viewCount %>&nbsp;&nbsp;&nbsp;&nbsp;回复：<%=posts[i].commentCount %></span>
    </div>
</section>
</li>
<%
}
%>
</ul>
</div>
<div class="col-xs-4">
    <%if(hotPosts){%>
        <san class="hotLable">热门文章</san>
        <ul class="post_list">
            <%for(var i = 0; i<hotPosts.length;i++){ %>
                <li>
                    <a href="/posts/<%=hotPosts[i].postId%>">
                        <span class="hotTitle"><%=hotPosts[i].title %></span>
                    </a>
                </li>
            <%}%>
        </ul>
    <%}%>
</div>
</div>
	</body>
</html>

<script type="text/javascript">

    $(function(){
        $.scrollUp({
            scrollName: 'scrollUp',      // Element ID
            scrollDistance: 300,         // Distance from top/bottom before showing element (px)
            scrollFrom: 'top',           // 'top' or 'bottom'
            scrollSpeed: 300,            // Speed back to top (ms)
            easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
            animation: 'fade',           // Fade, slide, none
            animationSpeed: 200,         // Animation speed (ms)
            scrollTrigger: false,        // Set a custom triggering element. Can be an HTML string or jQuery object
            scrollTarget: false,         // Set a custom target element for scrolling to. Can be element or number
            scrollText: 'TOP',           // Text for element, can contain HTML
            scrollTitle: false,          // Set a custom <a> title if required.
            scrollImg: false,            // Set true to use image
            activeOverlay: false,        // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            zIndex: 2147483647           // Z-Index for the overlay
        });
    });

    var pageNow = 2;

    $(function(){

        $('#scroll_block').scrollPagination({
            'contentPage': '/', // the url you are fetching the results
            'contentData': {'pageNow': 0}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
            'scrollTarget': $(window), // who gonna scroll? in this example, the full window
            'heightOffset': 10, // it gonna request when scroll is 10 pixels before the page ends
            'beforeLoad': function(opts){ // before load function, you can display a preloader div
                opts.contentData = {'pageNow': pageNow++};
            },
            'afterLoad': function(elementsLoaded){ // after loading content, you can use this function to animate your new elements
                if ($('#scroll_block').children().size() > 100){ // if more than 100 results already loaded, then stop pagination (only for testing)
                    $('#scroll_block').stopScrollPagination();
                }
            }
        });

    });


</script>
